.modal {
  background-color: #0000004d;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: flex;
  visibility: hidden;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition:
    visibility 0.4s ease,
    opacity 0.4s;
  padding: 0 10px;
  z-index: 0;
  line-height: 20px;
  font-size: 16px;
}

.modal_is-open {
  visibility: visible;
  opacity: 1;
  transition: 0.4s;
}

.modal__container {
  background-color: #fff;
  display: flex;
  position: relative;
  flex-direction: column;
  padding: 28px 28px 36px;
  border-radius: 20px;
  max-width: 496px;
  max-height: 436px;
  flex-grow: 1;
  z-index: 1;
}

.modal__radio-buttons {
  padding: 0;
  border: none;
  margin-top: 16px;
}

.modal__row {
  display: flex;
  margin-bottom: 24px;
  align-items: center;
  justify-content: space-between;
}

.modal__close {
  display: flex;
  width: 20px;
  height: 20px;
  border: none;
  background: none;
  padding: 0;
  margin: 0;
  opacity: 0.4;
  transition: 0.3s;
  cursor: pointer;
  position: absolute;
  top: 20px;
  right: 28px;
}

.modal__close:hover {
  opacity: 1;
}

.modal__title {
  display: flex;
  margin: 0 0 24px;
}

.modal__form {
  display: flex;
  flex-direction: column;
  margin: 0;
}

.modal__label {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.modal__label_type_radio {
  flex-direction: row;
  margin-bottom: 8px;
}

.modal__legend {
  margin: 0 0 12px;
}

.modal__input {
  margin: 0;
  padding: 0;
  border: none;
  border-bottom: 1px solid black;
}

.modal__input_type_btn {
  border: none;
  width: 124px;
  height: 36px;
  background-color: black;
  color: white;
  border-radius: 4px;
  margin-top: 24px;
}

.modal__input_type_btn:hover {
  background-color: #00000099;
  cursor: pointer;
}

.modal__input_type_btn:disabled {
  background-color: #0000004d;
}

.modal__container_type_img {
  display: flex;
  max-width: 498px;
  max-height: 610px;
  padding: 0;
  overflow: hidden;
}

.modal__img {
  object-fit: fill;
}

.modal__footer {
  display: flex;
  flex-direction: column;
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  gap: 12px;
  padding: 0 32px 32px;
}

.modal__caption {
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  margin: 20px 0 0;
}

.modal__weather {
  margin: 0;
}
