.header {
  display: flex;
  justify-content: space-between;
  margin: 32px 40px 28px;
}

.header__container {
  display: flex;
  align-items: center;
}

.header__logo {
  margin-right: 24px;
  max-width: 89px;
  max-height: 40px;
}

.header__local-time {
  display: flex;
  margin: 0;
}

.header__btn {
  border: 0;
  background: none;
  padding: 0;
  max-height: 24px;
}
