.clothes-section {
  height: fit-content;
  flex: 1;
}

.clothes-section__row {
  display: flex;
  gap: 20px;
  height: 56px;
  align-items: center;
}

.clothes-section__text {
  margin: 0;
  line-height: 1;
}

.clothes-section__add-btn {
  padding: 0;
  border: none;
  background-color: white;
  color: #00000099;
  font-size: 20px;
  font-weight: 700;
  line-height: 1;
}
.clothes-section__add-btn:hover {
  cursor: pointer;
  color: #000;
}

.clothes-section__container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.clothes-section__list {
  display: grid;
  grid-template-columns: repeat(auto-fit, 325px);
  grid-template-rows: repeat(auto-fill, 328px);
  justify-self: center;
  list-style: none;
  margin: 0;
  padding: 0;
  gap: 20px;
  width: 100%;
}

@media screen and (max-width: 767px) {
  .clothes-section__list {
    justify-self: center;
    grid-template-columns: auto;
    grid-template-rows: auto;
  }
}
@media screen and (max-width: 430px) {
  .clothes-section__row {
    justify-content: space-between;
  }
}
