.header {
  display: flex;
  justify-content: space-between;
  margin: 32px 40px 28px;
}

.header__container {
  display: flex;
  align-items: center;
}

.header__logo {
  margin-right: 24px;
  max-width: 89px;
  max-height: 40px;
}

.header__local-time {
  display: flex;
  margin: 0;
}

.header__user-name {
  margin: 0 0 0 20px;
  line-height: 100%;
}

.header__add-clothes-btn {
  border: 0;
  background: none;
  padding: 0;
  max-height: 24px;
  font-weight: 700;
}

.header__add-clothes-btn:hover {
  color: #555;
  cursor: pointer;
}

.header__avatar {
  margin-left: 12px;
}
