.footer {
  display: flex;
  justify-content: space-between;
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  margin: 20px 40px 24px;
}

.footer__text {
  margin: 0;
}

@media screen and (max-width: 430px) {
  .footer {
    flex-direction: column;
    align-items: center;
  }
}
